.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container-top {
    height: 45px;
    padding: 0 12px;
    flex: 0 0 auto;
}

.name-page {
    height: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    color: #37352f;
}

.container-bottom {
    margin-top: 24px;
    flex: 1;
    overflow-x: auto;
}

.container-bottom::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container-bottom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.container-bottom::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.container-bottom::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.container-bottom::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
}

.wrap-columns {
    border-top: 1px solid #efefef;
    display: flex;
    padding-top: 10px;
    width: 100%;
    margin: 0 96px;
}

.column-container {
    width: 285px;
    margin-right: 20px;
    padding: 0 5px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
}

.column-top {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.column-top_left,.column-top_right {
    display: flex;
}

.column-top_name,.column-top_sum {
    align-items: center;
}

.column-top_name {
  font-weight: 600;
  color: #787774;
}

.column-top_sum {
    padding: 0px 8px;
    color: rgba(211, 209, 203, 1);
}

.column-top_extension,.column-top_new {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.column-top:hover .column-top_extension,.column-top:hover .column-top_new {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column-top_extension:hover {
    border-radius: 3px;
    background-color: #efefef;
}

.column-top_new:hover {
    background-color: #efefef;
    border-radius: 3px;
}

.column-bottom {
    padding-bottom: 10px;
    overflow-y: auto;
    height: 450px;
    padding-right: 5px;
    width: 100%;
    
}

.column-bottom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .column-bottom::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .column-bottom::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .column-bottom::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  
  .column-bottom::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.6);
  }

.column-btn__add-todo {
    color: #bcbbb9;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 6px;
    padding-right: 8px;
    margin-top: 10px;
}

.column-btn__add-todo:hover {
    background-color:rgba(211, 209, 203, 0.4);
    cursor: pointer;
    margin: 0 2px;
    margin-top: 10px;

}

.todo-item {
    border: 1px solid #ccc;
    margin: 5px 0px;
    padding: 8px 10px 6px 6px;
    border-radius: 5px;
    box-shadow: 0 8px 10px -5px rgba(22, 22, 22,0.1);
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
    width: 260px;
    font-weight: 600;
    color: #37352f;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.todo-item:hover {
  background-color: #f7f7f7;
}

.todo-item__untitled {
    color: #bcbbb9;
    margin: 0;
}

.padding-0-20 {
  padding: 0 30px;
}

.border-top-1-solid-cfcfcd {
  border: none;
  border-top: 1px solid #cfcfcd;
}

.todo-item__form-title {
  display: flex;
}

.form-title__input {
  flex: 5;
  border: none;
  outline: none;
  font-size: 30px;
  /* line-height: 24px; */
  font-weight: 600;
}

.form-title__button {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  box-sizing: border-box;
}

.form-title__button-cancel,.form-title__button-save {
  font-size: 24px;
  border-radius: 50px;
  border: none;
}

.form-title__button-cancel {
  background-color: #cfcfcd;
  color: #fff;
}

.form-title__button-save {
  background-color: #8cbcff;
  color: #fff;

}

.form-title__button-save:hover {
  background-color: #4c96ff;
  cursor: pointer;
}

.form-title__button-cancel:hover {
  background-color: #bcbbb9;
  color: #fff;
  cursor: pointer;
}

.todo-item__comment {
  padding: 10px 10px 5px 10px;
}

.todo-item__comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-top__left {
  display: flex;
}

.left-assign {
  font-weight: 500;
  margin-right: 20px;
  font-size: 16px;
}

.left-date {
  color: #bcbbb9;
  line-height: 23px;
}

.comment-top__right {
  display: none;
  font-size: 16px;
  padding: 0 3px;
  border-radius: 5px;
  border: 1px solid #bcbbb9;
}

.todo-item__comment:hover .comment-top__right{
  display: block;
}

.comment-top__right:hover {
  background-color: #efefef;
  cursor: pointer;
  font-size: 16px;
}

.comment-bottom__content {
  margin: 0;
  font-size: 16px;
}

/* form-title */

/* form-comment */

.comment-bottom__form-comment {
  padding: 4px 0;
}

.form-comment__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  /* line-height: 24px; */
  /* font-weight: 600; */
  margin: 3px 0 2px 0;
  padding: 0 10px 0 6px;
}

.form-comment__button {
  /* flex: 1; */
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10px;
  box-sizing: border-box;
}

.form-comment__button-cancel,.form-comment__button-save {
  font-size: 9px;
  border-radius: 50px;
  border: none;
  padding: 0;
  /* line-height: 9px; */
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.form-comment__button-cancel {
  background-color: #b9b8b6;
  color: #fff;
}

.form-comment__button-save {
  background-color: #4c96ff;
  color: #fff;

}

.form-comment__button-save:hover {
  background-color: #8cbcff;
  cursor: pointer;
}

.form-comment__button-cancel:hover {
  background-color: #cfcfcd;
  color: #fff;
  cursor: pointer;
}

.button-cancel__icon {
  font-weight: 600 !important;
  font-weight: bold;
  /* font-size: 20px; */

}

